{{- $kind := "定義" }}

{{- .Page.Scratch.Add "counter" 1 }}
{{- $label := .Get "label" }}
{{- $url := printf "%s#%s" .Page.Permalink $label }}
{{- $name := printf "%s%d.%d" $kind .Page.Params.section (.Page.Scratch.Get "counter") }}
{{- $pair := slice $name $url }}

{{- if $label }}
{{- .Page.Scratch.SetInMap $label "name" $name }}
{{- .Page.Scratch.SetInMap $label "url" $url }}
<div id="{{ $label }}" style="padding-top:100px"></div>
{{- end }}

<div class="box"
    >
    <div class="title">
        {{ $kind }}{{ .Page.Params.section }}.{{ .Page.Scratch.Get "counter" }}
        {{- if .Get "title" }}:  {{ .Get "title" }} {{- end }}
    </div>
    {{ .Inner }}
</div>
